<% include ./partials/header %> 

<form action = "/login" method = "post">
    <div class = "SignupLogin">
    <h1 class = "prompt">Login</h1>
    <input class = "reg" type = "text" name = "username" placeholder = "username"> 
    <input class = "reg" type = "password" name = "password" placeholder = "password"> 
    <input class = "btn btn-primary" type = "submit" value = "Login">
    </div>
</form>

<% include ./partials/footer %>
