<% include ./partials/header %> 

<form action = "/register" method = "post">
    <div class = "SignupLogin">
    <h1 class = "prompt">Signup</h1>
    <input class = "reg" type = "text" name = "username" placeholder = "username">
    <input class = "reg" "register" type = "password" name = "password" placeholder = "password">
    <button class = "btn btn-primary">Sign Up</button>
    </div>
</form>

<% include ./partials/footer %>