
body {
    
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/2c/Milkyway-galaxy-sky-stars_-_West_Virginia_-_ForestWander.jpg);
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
