.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#deleteForm {
    
    display: inline;
    
}

#footerAuthor {
    
    margin: 25px auto;
}

.SignupLogin {
    
    position: relative;
  text-align: center;
  padding-top: 20vh;
 
}

.reg {
    
    background-size: 40px; 
    font-size: 20px;

}

.reg:hover {
    
    background-color: #DCD5D5;
    
}

.prompt {
    
    font-size: 30px;
    color: white;
    
}

body {
    
    background-color: black;
    
}