<% include ../partials/header %> 

 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1 id = "welcome1">Welcome To StarGazer!</h1>
             <p id = "welcome2">Users can post pictures of the beautiful night sky. Whether you found a cool picture online or you want to show off the pictures you've 
                taken, StarGazer lets you share your content with other users! </p>
             <p>
                <a id = "newPostButton" class="btn btn-primary btn-large" href="/posts/new">Add New Post</a>
             </p>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% posts.forEach(function(post){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= post.image %>">
                   <div class="caption">
                       <h4 id = "desc"><%= post.name %></h4>
                   </div>
                   <p>
                       <a href="/posts/<%= post._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>
